.Modal-FichaCategorias {
    background-color: rgb(227, 235, 248);
    width: 90%;
    height: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-sizing: border-box;
    overflow: auto;
    padding-top: 50px;
    scrollbar-width: none;
}

.Modal-FichaCategorias::-webkit-scrollbar{
    display: none;
}

.Principal-FichaCategorias {
    display: flex;
    justify-content: center;
    margin-right: 2%;
    margin-top: 1.5%;
}
.Titulo-FichaCategorias {
    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: bold;
    text-align:center;
    font-size: 1.5rem;
}
