@import url('https://fonts.googleapis.com/css?family=Inter&display=swap'); 
.contenido {
    margin-left: 5%;
    margin-right: 5%;
}

.Modal {
    width: 600px;
    height: 450px;
    overflow: hidden;
}

.Principal {
    display: flex;
    justify-content: center;
}

.Imagen {
    margin-Right: 16;
    width: 100;
    height: 100;
}
.Contenido{
    margin-left: 20px;
}
.contenido-labels{
    margin-bottom: 20px;
     font-family: 'inter';
}
.NombreMed{
    text-align: center;
}
.Titulo{
    margin-top: 10%;
}
.div-titulo{
    justify-content: center;
}
@media (max-height: 414px) {
    .Titulo{
        margin-top:2%;
    }
}
@media (max-height: 390px) {
    .Titulo{
        margin-top:2%;
        margin-bottom: 0%;
    }
    .div-titulo{
        max-width: 40px;
       margin-left: 50%;
    }
    .Principal{
        margin-top:40px;
    }
}

@media (max-width: 600px) {
    .Modal{
        width: 100%;
    }
    img.Imagen{
       max-width:100px;
        max-height:100px;
    }
    .Div-imagen{
        margin-left: 20%;
        
    }
    .NombreMed{
        text-align: left;
        margin-left: 24%;
    }
    .div-titulo{
        justify-content: left;
        margin-top: 0;
        margin-bottom: -50px;
    }
    .modal {
        width: 85%;
        height: 85vh;
    }
    .Titulo{
        margin-top: 0%;
        margin-left: 1%;
        font-size:150%;
        font-family: 'inter';
    }

    .Principal {
        display: flex;
        flex-direction: column;
    }

    @media (max-height: 414px) {
        .Titulo{
            margin-top:2%;
             font-family: 'inter';
        }
    }
    @media (max-height: 390px) {
        .Titulo{
            margin-top:2%;
             font-family: 'inter';
           
        }
        .div-titulo{
            max-width: 40px;
           margin-left: 17%;
        }
        .Principal{
            margin-top:40px;
        }
    }
    
}
