.modalMedicamentos {

    width: 600px;

    height: 450px;
    overflow: hidden;

}

.Div-imagen {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: center;

}

.modalMedicamentos form {

    gap: 16px;
}

#categoria {
    height: 15px;
}

#categoria .MuiAutocomplete-paper {
    max-height: 20px;
}

@media (max-width: 600px) {
    .modalMedicamentos {
        width: 85%;
        height: 85vh;
    }

    .modalMedicamentos form {
        display: flex;
        flex-direction: column;
    }

    .modalHeader {
        font-size: 24px;
        margin-bottom: 10px;
    }
}