/* #tablaDiv{
    height: 500;
    width: '40px';
    display: flexbox;
    justify-content: center;
    background-color: black;
}
#expedientesGrid{
    height: 500;
    width: '20%';
    display: flexbox;
    justify-content: center;
    background-color: aqua;
    
    
} */