@media (max-width: 768px) {

  /* Styles for smaller screens */
  .about-us-container,
  .mission-vision-container,
  .company-description,
  .person-container,
  .employee-description {
    padding: 20px;
  }

  .company-description,
  .person-container,
  .employee-description {
    flex-direction: column;
    align-items: center;
  }

  .company-description .image-container,
  .person-container .person-image {
    margin-right: 0;
  }

  .company-description .text-container,
  .person-container .person-description {
    text-align: center;
    margin-top: 20px;
  }

  .image-container img {
    width: 200px;
    height: 200px;
  }

  .person-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
}


@media (max-width: 540px) {


  /* Styles for mobile screens */
  .mission-vision-container {
    flex-direction: column;
  }

  .mission,
  .vision {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .mission h2,
  .vision h2 {
    text-align: center;
  }

  .mission p,
  .vision p {
    text-align: center;
  }

  /* Rest of the CSS code */

  .image-container img {
    width: 10px;
    height: 10px;
  }

  .person-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
}

.scrollable-page {
  height: 100vh;
  background-color: #E4EBF9;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  margin: 0 auto;
  max-width: 2000px;
  min-width: 90vw;
  gap: 50px;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  background-color: #1E60A6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  gap: 20px;
  width: 100%;
}

.mission-vision-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.mission,
.vision {

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  max-width: 49.5%;
  min-width: 49.5%;

  /* background-color: rgba(47, 37, 176, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.about-us-txt-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
  width: 100%;

  gap: 10px;

  padding-right: 50px;

  /* background-color: rgb(0, 255, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.mission h2,
.vision h2 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.new-text {
  justify-self: center;
  text-align: justify;
  text-justify: inter-ideograph;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  word-wrap: break-word;
  font-family: 'Inter';
}

.company-description {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #1E60A6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  gap: 20px;
  width: 100%;
}

.company-description:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  flex-shrink: 0;
  margin-right: 20px;
  height: 100%;
  width: 25%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}


.image-container img:hover {
  transform: scale(1.05);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 100%;

  /* background-color: rgba(15, 25, 220, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.company-description h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.upload-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  margin: 10px;

  width: 200px;

  text-align: center;
}

.upload-button {
  width: 150px;
  background-color: azure;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-family: 'Inter';
  font-size: 14px;
  justify-self: center;
  box-shadow: none;
  border: none;
}

.upload-buttons>* {
  width: 100%;
  background-color: azure;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-family: 'Inter';
  font-size: 14px;
  justify-self: center;
}

.upload-button:hover {
  background-color: rgb(6, 130, 130);
  border-radius: 20px;
}

.upload-buttons >*:hover {
  background-color: rgb(6, 130, 130);
}

.upload-button.accept:hover {
  background-color: rgb(100, 191, 106);
}

.upload-button.cancel:hover {
  background-color: rgb(169, 173, 169);
}

.upload-buttons>.delete:hover {
  background-color: rgb(245, 95, 72);
}


.person-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px;
  background-color: #1E60A6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

}

.person-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.person-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  margin-right: 30px;
  display: flex;
  margin-top: 20px;
}

.person-image img {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.person-image img:hover {
  transform: scale(1.1);
}

.employee-description {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #1E60A6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.employee-description:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.employee-description h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.admin-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 20px;
  width: 100%;

  gap: 50px;

  padding-left: 10px;
  padding-right: 10px;

}

.admin-edit > *  {
  font-size: 40px;
  color: #626262;

  cursor: pointer;
  font-weight: bolder;

  line-height: normal;

}