
   /*CSS del calendario como tal*/
   .cal {
    margin-top: 1.8%;
    margin-left: 5%;
    width: 90%;
    height: calc(100% - 1.6% - 3rem); /* Adjust the height calculation as needed */
  }
  
  footer {
    margin-top: 2rem; /* Adjust the margin as needed */
  }
  
  
    
 /*para los elementos dentro de HeadertoolBar*/
  .fc-toolbar-center button {
    margin-right: 2%;
  }

 /*para el espacio del HeadertoolBar*/
  .fc-toolbar {
    margin-left: 3%;
    margin-right: 3%;
  }
  

  
  .time-slots {
    display: flex;
    flex-direction: column;
  }
  
  .slot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .slot.selected {
    background-color: red;
    color: #fff;
  }
  
  .slot.booked {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .appointment-form {
    margin-left: 20px;
  }
  

  
  