.crudGrid {
    background-color: rgb(227, 235, 248);
    height: 100vh;
    display: flex;
    justify-content: center;
    border: none;
    flex-direction: column;
    padding: 0%;
}

.headerDiv {
    height: 50px;
    padding-left: 5%;
    padding-top: 1vh;
}

.dataGridBox {
    display: flex;
    justify-content: center;
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 83vh;
}

.innerCard {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}


.MuiDataGrid-root {
    border: none !important;
    border-radius: 0;
    border-left: 0px solid rgb(227, 235, 248);
    border-color: rgb(227, 235, 248);
    background-color: rgb(227, 235, 248);
    box-shadow: none;
}

.MuiDataGrid-window {
    border: none;
}

.MuiDataGrid-row {
    margin-bottom: 8px;
    border-radius: 16px;
    background-color: #FFFFFF;
    color: rgb(71, 71, 71);

}

.MuiDataGrid-row:last-child {
    margin-bottom: 0;
}

.MuiDataGrid-cell {
    border-bottom: none;
    font-size: 18px;
    /* color: rgb(71, 71, 71); */
}


.column-header {
    font-weight: bold;
    color: rgb(71, 71, 71);
    font-size: 17px;
}


.modalContainer {
    background-color: rgb(227, 235, 248);
    width: 600px;
    height: 500px;
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.modalHeader {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.modalContainer .modalHeader {
    margin-bottom: 20px;
}

.modalContainer form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.modalContainer form .MuiFormControl-root {
    width: 100%;
    background-color: white;
    border-radius: 5px;

}

.modalContainer form .radioGroupContainer {
    display: flex;
    justify-content: center;

}

input[type='password'] {
    border: none !important;
}

.labelFocused {
    font-size: 20px;
}

#crudButton {
    margin-top: 15px !important;
    background-color: rgb(27, 96, 241) !important;
    color: white !important;
    border-radius: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 270px !important;
    font-size: 16px !important;
    align-self: center !important;
    height: 45px !important;
}


.cancelButton {
    position: absolute;
    top: 10px;
    font-size: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cancelButton:hover {
    background-color: #b84f4f;
    color: #fff;
  }
  
  .cancelButton::before,
  .cancelButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .cancelButton::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  


@media (max-width: 600px) {
    .modalContainer {
        width: 85%;
        height: 98vh;
    }

    .modalContainer form {
        gap: 1px;
        padding-top: 5px;
    }


    .modalHeader {
        font-size: 24px;
        margin-bottom: 10px;
    }
}