.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1E60A6;
  padding: 35px;
}

.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  background-color: #E4EBF9;
}


.contactanos-container {
  position: relative;
  width: 1420px;
  height: 414px;
  left: -1px;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5f5f5;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servicios {
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: #1E60A6;
}

.iconContainer {
  width: 260px;
  height: 260px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  top: -95px;
}

.container1 {
  width: 370px;
  height: 600px;
  background: #1E60A6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
}


.container {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: #1E60A6;
}

.container2 {
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E60A6;
  padding: 35px;
}

.head1 {
  position: relative;
  top: -70px;
  font-size: 40px;
  text-align: center;
  color: #8FC1B5;
}

.textoC {
  font-size: 20px;
  height: 200px;
  width: 250px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.textoS {
  height: 200px;
  width: 250px;
  font-size: 20px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.textoL {
  font-size: 20px;
  height: 200px;
  width: 250px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.ruta {
  width: 420px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: #346A78;
  border-radius: 10px;
  font-weight: normal;
  color: #ffff;
  margin: 100px;
}

.frame{
  height:400px ;
  width: 800px;
  border-radius: 40px;
}


.btnA {
  background-color: #346A78;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 400px;
}

.agendar {
  font-size: 40px;
  font-weight: normal;
}

.boton {
  background-color: #1E60A6;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.linea{
  margin: 50px;
  background-color: #346A78;
  height: 4px;
  width: 1000px;
}

.botonA{
  height: 35px;
  width: 50px;
  background-color: #346A78;
  border-radius: 10px;
  color: #ffff;
  position: relative;
  left: 650px;
  font-size: 30px;
  font-weight: bold;
}
