.bt {
  color: #fff;
  background-color: #1E60A6;
  border: #1E60A6;
  padding-left: 70px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.bt:hover {
  transform: translateX(10px);
}

.bt::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.bt:hover::before {
  left: 0;
}


.bt1 {
  color: #fff;
  background-color: #1E60A6;
  border: #1E60A6;
  padding-left: 70px;
  transition: transform 0.3s ease-in-out;
}

.bt1:hover {
  transform: translateX(10px);
}

.bt1::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.bt1:hover::before {
  left: 0;
}

.bt2 {
  color: #fff;
  background-color: #1E60A6;
  border: #1E60A6;
  padding-left: 70px;
  transition: transform 0.3s ease-in-out;
}

.bt2:hover {
  transform: translateX(10px);
}

.bt2::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.bt2:hover::before {
  left: 0;
}

.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  background-color: #E4EBF9;
}

.servicios {
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: #1E60A6;
}

.iconContainer {
  width: 260px;
  height: 260px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  top: -95px;
}

.container1 {
  width: 370px;
  height: 600px;
  background: #1E60A6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
}


.container {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: #1E60A6;
}

.container2 {
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E60A6;
  padding: 35px;
}

.head1 {
  position: relative;
  top: -70px;
  font-size: 40px;
  text-align: center;
  color: #8FC1B5;
}

.textoC {
  font-size: 20px;
  height: 200px;
  width: 250px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.textoS {
  height: 200px;
  width: 250px;
  font-size: 20px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.textoL {
  font-size: 20px;
  height: 200px;
  width: 250px;
  position: relative;
  top: -50px;
  text-align: center;
  color: #fff;
}

.ruta {
  width: 420px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  background-color: #346A78;
  border-radius: 10px;
  font-weight: normal;
  color: #ffff;
  margin: 100px;
}

.frame {
  height: 400px;
  width: 800px;
  border-radius: 40px;
}


.btnA {
  background-color: #346A78;
  position: relative;
  border-radius: 10px;
  color: white;
  top: 130 px;
  left: 120px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 400px;
}

.agendar {
  font-size: 40px;
  font-weight: normal;
}

.botonCon {
  background-color: #1E60A6;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.linea {
  margin: 50px;
  background-color: #346A78;
  height: 4px;
  width: 1000px;
}

.botonA {
  height: 35px;
  width: 50px;
  background-color: #346A78;
  border-radius: 10px;
  color: #ffff;
  position: relative;
  left: 650px;
  font-size: 30px;
  font-weight: bold;
}

.imagenes {
  width: 100%;
  height: auto;
}

.each-slide img {
  width: 100%;
  height: auto;
}

