@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
.drag-handle-button{
  border: #E4EBF9;
  background-color: #E4EBF9;
}
.custom-hr {
  border: none; 
  border-top: 1px solid #000000; 
  margin: 8px 0;
  width: 90%; 
}
.dataListBox{
  width: 100%;
}
.carrusel-list-container{
  width: 100%;
}
.carrusel-list {
  list-style: none;
  padding: 0;
  position: relative;
  max-height: 350px; 
  overflow-y: auto; 
  width: 100%;
}

.carrusel-list-item {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 12px;
  width: 95%;
  height: 10%;
}

.carrusel-list-item-image {
  flex: 1;
  margin-right: 12px;
}

.carrusel-list-item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right:6%;
}

/* Style for buttons */
.button {
  margin-top: 8px;
}
.buttonEE {
  position: relative;
  left: 30%;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #FFF;
  background-color: #1E60A6;
}

.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  background-color: #E4EBF9;
}

.content-header-banner {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  background-color: #1E60A6;
  transition: all 0.3 ease;
  font-family: 'Montserrat';
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}


.button-container {
  display: flex;
  justify-content: flex-end;
}

.add-button,
.save-button {
  display: flex;
  align-items: center;
  padding: 10px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.about-us-text {
  padding: 0px;
  font-size: 20px;
  color: #000000;
  word-wrap: break-word;
  align-self: flex-start;
  font-family: 'Inter';
  margin-bottom: 20px;
  /* TEMPORAL */
  /* background-color: rgb(0, 0, 255, 0.9);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.content-header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #1E60A6;
  height: moz-fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  transition: all 0.3 ease;
  font-family: 'Montserrat';
  text-align: center;
  /* TEMPORALLL */
  /* background-color: rgb(255, 0, 0, 0.7);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.align-left {
  text-align: left;
  justify-content: flex-start;
}

.service-icon-container {
  width: 260px;
  height: 260px;
  min-height: 260px;
  min-width: 260px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5em;
}

.service-container {
  width: 400px;
  height: 550px;
  background: #1E60A6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  position: relative;
  min-width: 370px;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.3s ease-in;
}

.service-container:hover {
  transform: scale(1.05);
}

.service-container .service-text {
  padding: 0px 20px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  word-wrap: break-word;
  align-self: flex-start;
  font-family: 'Inter';
  position: relative;
  bottom: 30px;
  /* TEMPORAL */
  /* background-color: rgb(0, 255, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.servicess {
  height: moz-fit-content;
  width: 90vw;
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  transition: all 0.3 ease;
  margin: 100px auto 20px auto;
  padding: 20px 50px;
  /* temporal */
  /* background-color: rgb(255, 0, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.button-container {
  height: moz-fit-content;
  width: 90vw;
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  transition: all 0.3 ease;
  margin: 20px auto;
  padding: 0px 50px;
  /* temporal */
  /* background-color: rgb(255, 0, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.see-more-button {
  height: 50px;
  min-width: 300px;
  background-color: #1E60A6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3 ease;
  font-family: 'Montserrat';
  font-size: large;
  box-shadow: 0.05em 0.05em 0.5em rgba(0, 0, 0, 0.3);
}

.see-more-button .servicecomponent {
  width: 500px;
}

.see-more-button .about-us {
  width: 50%;
  margin-top: 20px;
}

.see-more-button.schedule-appointment {
  max-width: 500px;
  background-color: #FFF;
  color: #1E60A6;
  width: 50%;
  margin-top: 20px;
}

.see-more-button:hover {
  background-color: #89CFF0;
}

.home-schedule-container {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 50px auto 50px auto;
  background-color: #1E60A6;
  /* TEMPORAL */
  /* background-color: rgb(0, 255, 0, 0.3); */
  /* background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.schedule-calendar-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.white-text {
  color: #FFF;
}

.small-text {
  font-size: 30px;
}

.smaller-text {
  font-size: 20px;
}

.home-about-us-container {
  width: 90vw;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: 50px auto 20px auto;
  gap: 20px;
  overflow-x: hidden;
  /* TEMPORAL */
  /* background-color: rgb(0, 255, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.home-about-us-container>.content-header {
  margin: 10px auto 10px auto;
  /* TEMPORAL */
  /* background-color: rgb(255, 0, 255, 0.9);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.service-header {
  position: relative;
  font-size: 40px;
  text-align: center;
  color: #8FC1B5;
  top: -70px;
  font-family: 'Montserrat';
  padding-top: 10px;
  margin-bottom: -10px;
  height: 100px;
  /* TEMPORAL */
  /* background-color: rgb(0, 255, 0, 0.3);
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.google-map-frame {
  height: 500px;
  width: 100%;
  margin-top: 0px;
  min-width: 400px;
  max-width: 1500px;
  border-radius: 20px;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}

.smooth-line {
  justify-self: center;
  align-self: center;
  background-color: #346A78;
  margin: 50px auto 20px auto;
  height: 4px;
  width: 75%;
  max-width: 2000px;
}

.imagenes {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 2000px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.3),
    -12px 0 15px -4px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.innerCard {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 2000px;
  left: 50%;
  transform: translateX(-50%);
  /*box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.3),
    -12px 0 15px -4px rgba(0, 0, 0, 0.3);*/
  padding-bottom: 10px;
}

.each-slide img {
  width: 100%;
  height: 70vh;
  max-height: 800px;
  max-width: 2000px;
  object-fit: cover;
}

/* CARRUSEL */
.modalServicios-carrusel {
  
  width: 30%;
  height: 92%;
  max-width: 1600px;
  overflow: hidden;
}

.modal-container-carrusel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  padding: 20px;
  background-color: #E4EBF9;
  border-radius: 10px;
}

.modified-crudGrid {
  background-color: rgb(227, 235, 248);
  height: 100%;
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  border: none;
  flex-direction: column;
  
}

.carrusel-crud-image-img {
  height: 140px;
  width: 250px;
  border: 0.5px solid #1E60A6
}

/* /////////////////////// */

/* GOTTA USE THAT SPACE PROPERLY! */
@media only screen and (min-width: 780px) and (max-width: 1260px) {
  .servicess {
    margin: 0px auto 20px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    padding-top: 60px;
    padding-bottom: 20px;
    gap: 40px;
  }

  .service-container {
    display: flex;
    flex-direction: row;
    width: 110%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    padding: 20px 10px;
    gap: 20px;
  }

  .service-text-elements {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
  }

  .service-header {
    position: static;
    height: moz-fit-content;
    padding: 0;
    margin-bottom: 5px;
  }

  .service-container .service-text {
    position: static;
    align-self: center;
  }

  .service-icon-container {
    position: static;
    width: 2vw;
    aspect-ratio: 1 / 1;
  }

  .google-map-frame {
    width: 80%;
  }

}

@media only screen and (max-width: 900px) {
  .home-about-us-container {
    margin-top: 0px;
    flex-direction: column;
  }

  .content-header.align-left {
    justify-content: center;
    text-align: center;
  }

  .about-us-text {
    font-size: 18px;
  }

  .content-header {
    font-size: 40px;
  }

  .smaller-text {
    font-size: 20px;
  }

  .schedule-calendar-icon {
    width: 75px;
    height: 75px;
  }

  .about-us-content {
    width: 100%;
    text-align: center;
  }
}

/* SMALL DEVICES */
@media only screen and (max-width: 780px) {
  .servicess {
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 20px;
    gap: 80px;
  }

  .home-about-us-container {
    flex-direction: column;
    overflow-x: hidden;
  }

  .about-us-content {
    width: 100%;
  }

  .service-container {
    width: 20vw;
    height:moz-fit-content;
    gap: 0 !important;
    overflow-x: hidden;
  }

  .service-header {
    height: moz-fit-content;
    padding: 0;
    align-items: center;
  }

  .service-icon-container {
    margin-top: 20px;
  }

  .service-container .service-text {
    margin-top: 5px;
  }

  .google-map-frame {
    width: 80%;
    height: auto;
    aspect-ratio: 1 / 1;
  }


}

@media only screen and (max-width: 600px) {
  .content-header-banner {
    flex-direction: column;
    text-align: center;
  }

  .content-header {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
  }
}