@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.scrollable-page {
  height: 100%;
  overflow-y: auto;
}

.buttons button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 18px;
}

.buttons button:hover {
  color: #1E60A6;
}

.buttons button:focus {
  outline: none;
}

.login-form {
  max-width: 40vw;
  min-width: 400px;
  text-align: center;
  height: 75vh;
  min-height: 500px;
  margin: 50px auto;
}

.login-details {
  font-size: larger;
  font-weight: 600;
  font-family: 'Inter';
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 10px;
}

.login-form h2 {
  font-size: 40px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  font-weight: 500;
}

.login-form a {
  font-family: 'Inter';
  margin-top: 20px;
  color: #1E60A6 !important;
  text-decoration: underline !important;
  cursor: pointer;
  font-weight: 500;
  height:fit-content;
  width: fit-content;
  align-self: center;
}

.login-form a:hover {
  color: #1e2f97 !important;
}


.form-group label {
  display: block;
  text-align: left;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #000 !important;
  border-radius: 4px !important;
}

button[type='submit'] {
  width: 100%;
  padding: 12px;
  background-color: #1E60A6 !important;
  color: white;
  border: none;
  border-radius: 40px !important;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}


button[type='submit']:hover {
  background-color: #1AA7EC !important;
  -webkit-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

p {
  margin-left: 50px;
  text-align: justify;
}