.not-found-404-container {
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 50px;

    gap: 10px;
}

.not-found-404-text {
    text-align: center;
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    line-height: 40px;
}

.not-found-404-text.not-found-header {
    color: #1e60a6;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 200px;
}

