.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  height: 100%;
}

.buttons button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 18px;
}

.buttons button:hover {
  color: #ffffff6c;
}

.buttons button:focus {
  outline: none;
}

.register-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type='number'],
select {
  padding: 5px;
  border: 1px solid #000 !important;
  border-radius: 4px !important;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #000 !important;
  border-radius: 4px !important;
}

button[type='submit'] {
  width: 100%;
  padding: 14px;
  background-color: #677A92;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3 ease;
}

button[type='submit']:hover {
  background-color: #3b597e;
}

select {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: none !important;
  word-wrap: break-word !important;
}

select .option {
  word-wrap: break-word;
  font-family: 'Inter' !important;
  background-color: none !important;
}

.footer {
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E60A6;
  padding: 35px;
}

p {
  margin-left: 50px;
  text-align: justify;
}

.register-form {
  max-width: 40vw;
  min-width: 400px;
  text-align: center;
  height: 72vh;
  min-height: 900px;
  margin: 50px auto;
}

.register-details {
  font-size: larger;
  font-weight: 600;
  font-family: 'Inter';
  padding: 20px 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 10px;
}

.register-form h2 {
  font-size: 40px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  font-weight: 500;
}

@media only screen and (max-width: 400px) {
  .select-normal-height {
    height: 100px !important;
  }
}