@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* AQUI EMPIEZO YO PEDRO */
.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  background-color: #E4EBF9;
}

.header {
  font-size: 4vw;
  color: #ffff !important;
  background-color: #677a92;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
  text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.8);
  margin-top: 0 !important;
  justify-items: center !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
  text-align: center !important;
  font-weight: 700;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.dragged-service {
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}
.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
  transform: scale(0.8); /* Example shrinking effect */
}

.dragged-over {
  transform: translateY(-30px); /* Example: Create space for dragged service */
  transition: transform 0.3s ease-in-out;
}
.info {
  display: flex;
  justify-content: center; 
  align-content: center;
  font-size: 1.5vw;
  color: darkslategrey;
  margin-top: 2vh;
  text-align: center;
  padding: 0.5rem 2rem;
  font-family: 'Inter', sans-serif;
}

.services {
  position: relative;
  left: 12%;
  display: inline-block;
  width: 500px;
  height: 300px;
  margin: 2vw;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.services .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  padding: 20px;
}

.services:hover .overlay {
  opacity: 1;
}

.services .overlay h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 800;
}

.ebcont {
  width: 100%;
}
.modalServicios {
  width: 700px;
  height: 525px;
  overflow: hidden;
}

.modal-container {
  position: relative;
  top: 10%;
  left: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  overflow-y: clip;
  background-color: #E4EBF9;
  border-radius: 10px;
}
.mHeader {
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 24px;
}
.cButton {
  position: absolute;
  top: 10px;
  font-size: 15px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cButton:hover {
  background-color: #b84f4f;
  color: #fff;
}
.inputsAdd{
  justify-content: center;
  width: 50%;
  margin-bottom: 4%;
}
.organizer {
  position: relative;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.image-preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .overlay p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-right: 30px;
}

.DImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  margin-bottom: 10px;
  margin-top: 10px;
}

.imgWrap{
    margin-top: 35px;
    margin-bottom: 20px;
    width: 225px;
    height: 225px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.imgC {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  object-fit: cover;
}
.cFL {
  display: inline-block;
  width: 225px; 
  height: 35px;
  font-size: 15px;
  margin-top: 0px;
  background-color: #626262df;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cFL:hover {
  background-color: #999;
}
.cFL:active {
  background-color: #777;
}

.cFI {
  display: none;
}

.mB {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
}
.desc {
  white-space: normal;
  word-break: break-word;
}
.buttonE {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button-addSCont {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center;
  flex-wrap: wrap;
}
.button-addS {
  background-color: #007bff;
  color: #fff;
}
.button-addS:hover {
  background-color: #0056b3;
}
.button-gearCont {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
.buttonG {
  padding: 10px 20px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #E4EBF9;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 6vw;
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.8);
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .info {
    font-size: 4vw;
    margin-top: 4vh;
  }

  .services {
    width: 250px;
    /* Adjust as needed for smaller screens */
    height: 150px;
    /* Adjust as needed for smaller screens */
    margin: 1vw;
  }

  .services .overlay h2 {
    font-size: 3vw;
  }

  .services .overlay p {
    font-size: 2vw;
  }
}