.App {
  text-align: center;
}

.header {
  margin: 20px 0;
}



footer {
  margin-top: 2rem; /* Adjust the margin as needed */
}


.cal-container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  height: calc(100% - 1.6% - 3rem);
}

.create-appointment-button {
  margin-bottom: 10px;
}



.appointment-form {
  margin-left: 20px;
}
