/*CSS del calendario como tal*/

td {
  padding: 2%;
  width: 80%;
  border: 1px solid gray;
  text-align: left;
  font-family: 'Inter', sans-serif;
  overflow-x: auto;
}

footer {
  margin-top: 2rem;
  /* Adjust the margin as needed */
}

.cal-container {
  margin-top: 1.8%;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

