.container {
    padding: 20px;
    background-color: #f2f2f2;
    width: 100%;
}

.scrollable-pageee {
    background-color: #E4EBF9;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.maine {
    margin: 2%;
    background-color: #E4EBF9;
}

.img-fluid {
    max-width: 200px;
}

.input-bg {
    width: 100%;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black; 
    border-right: 1px solid black;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
}

.input-bg:focus {
    background-color: #C8DAFF;
}

.input-group > .form-control.input-bg {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
}

.preclinic-labels {
    height: 100%;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    border: 1px solid black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    user-select: none;
}

.headers {
    text-decoration: underline 3px;
}

.headers_TA {
    padding-top: 1.5%;
}

.appointment-patient-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    height: min-content;
    gap: 20px;
    width: 100%;
    background: #F8F8F8;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.profile-picture-and-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}

.patient-info-vert-align {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    gap: 3px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.perfil:hover {
    background-color: #3f79ee;
}

.appointment-history-nombre {
    width: initial;
    height: moz-fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    color: #464646;
    margin-bottom: 0px;
    /* TEMPORALLL */
    /* background-color: rgb(255, 0, 0, 0.3);
    background-size: 10px 10px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.smallText {
    width: moz-fit-content;
    word-spacing: normal;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}

.space-between-text-appointment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    word-wrap: normal;
    padding: 0px;
    width: 50%;
    height: moz-fit-content;
}

.appointment-reason-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: min-content;
    width: max-content;

    text-align: center;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: auto;
    padding-bottom: auto;

    border-radius: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    
    background-color: #C8DAFF;
    color: #1560F2;

    user-select: none;
}

.appointment-reason-container.date {
    color: #B98622;
    background-color: #FFE1A7;
}

.patient-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: moz-fit-content;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: auto;
    padding-bottom: auto;
    background: #C8DAFF;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100%;
    color: #1560F2;
}

.iconoUser {
    color: #F8F8F8;
    font-size: 55px;
}

.nav-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: 'Inter';
    /* TEMPORALLL */
    /* background-color: rgb(255, 0, 0, 0.3);
    background-size: 10px 10px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
}

.nav-button-container a {
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    padding: 1px 10px 1px 10px;
    color: white;
    background-color: #1560f2;
    text-decoration: none;
}

.nav-button-container a:hover {
    background-color: #3f79ee
}

.appointment-section-header {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
}

.preclinic,
.diagnostic,
.incapacity {
    margin-top: 10px;
    margin-bottom: 5px;

    padding-top: 15px;
    padding-bottom: 5px;

    border-top: 2px solid #5e5e5e;
}

/* Falta responsiveness de estos css */
/* ya estan gay -pedro */
.contenedor {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.delete-button {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: none;
}

.appointment-history-end-button {
    background-color: #1560f2;
    color: white;
    height: 60px;
    width: 250px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 800;
    border: none;
}

.appointment-history-end-button:hover {
    background-color: #3f79ee;
}

.appointment-details-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.file-interaction-button.medicine-interaction {
    width: 40px;
    height: 40px;
}
/* Responsive styles for screens between 820px and 950px */
@media only screen and (min-width: 820px) and (max-width: 950px) {
    /* Default styles */
    .contenedor {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .delete-button {
        width: 30px;
        height: 40px;
        margin-top: 35px;
    }

    .appointment-history-end-button {
        background-color: #1560f2;
        color: white;
        height: 60px;
        width: 250px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        border: none;
    }

    .appointment-history-end-button:hover {
        background-color: #3f79ee;
    }

    .appointment-details-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    /* Add your responsive styles here */
    .space-between-text {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}

/* Responsive styles for screens up to 600px width */
@media only screen and (max-width: 600px) {
    /* Default styles */
    .contenedor {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .delete-button {
        width: 30px;
        height: 40px;
        margin-top: 35px;
    }

    .appointment-history-end-button {
        background-color: #1560f2;
        color: white;
        height: 60px;
        width: 250px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        border: none;
    }

    .appointment-history-end-button:hover {
        background-color: #3f79ee;
    }

    .appointment-details-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    /* Add your responsive styles here */
    .appointment-patient-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .space-between-text {
        width: 100%;
    }

    .nav-button-container {
        justify-content: center;
        gap: 10px;
    }

    .nav-button-container a {
        text-align: center;
    }

    .appointment-reason-container {
        height: 100%;
    }
}

/* Responsive styles for screens with max height of 768px */
@media only screen and (max-height: 768px) {
    /* Default styles */
    .contenedor {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .delete-button {
        width: 30px;
        height: 40px;
        margin-top: 35px;
    }

    .appointment-history-end-button {
        background-color: #1560f2;
        color: white;
        height: 60px;
        width: 250px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        border: none;
    }

    .appointment-history-end-button:hover {
        background-color: #3f79ee;
    }

    .appointment-details-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    /* Add your responsive styles here */
    .patient-section {
        gap: 10px;
        height: 92%;
    }

    .patient-email-container {
        font-size: 14px;
    }

    .nombre {
        font-size: 22px;
    }

    .smallText {
        font-size: 14px;
    }

    .infoGeneral {
        height: 180px;
    }

    .patient-info-vert-align {
        gap: 0px;
    }
}

/* Responsive styles for screens up to 768px width */
@media (max-width: 768px) {
    /* Default styles */
    .contenedor {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .delete-button {
        width: 30px;
        height: 40px;
        margin-top: 35px;
    }

    .appointment-history-end-button {
        background-color: #1560f2;
        color: white;
        height: 60px;
        width: 250px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        border: none;
    }

    .appointment-history-end-button:hover {
        background-color: #3f79ee;
    }

    .appointment-details-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    /* Add your responsive styles here */
    .img-fluid {
        max-width: 150px;
    }

    .nav-button-container {
        justify-content: center;
    }

    input {
        max-width: 100%;
    }

    .mobile-align {
        justify-content: center;
    }

    .mobile-align > * {
        margin-top: 5px;
    }
}

/* Responsive styles for screens up to 576px width */
@media (max-width: 576px) {
    /* Default styles */
    .contenedor {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    .delete-button {
        width: 30px;
        height: 40px;
        margin-top: 35px;
    }

    .appointment-history-end-button {
        background-color: #1560f2;
        color: white;
        height: 60px;
        width: 250px;
        border-radius: 5px;
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 800;
        border: none;
    }

    .appointment-history-end-button:hover {
        background-color: #3f79ee;
    }

    .appointment-details-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    /* Add your responsive styles here */
    .img-fluid {
        max-width: 120px;
    }

    .nav-button-container {
        justify-content: center;
    }
    .input-group .form-control.addon-inline {
        border-right: none;
        padding-right: 5px;
    }
    .input-group-addon.addon-inline {
        background: #fff;
        color: #999;
        border-left: none;
        padding-left: 0;
    }
}
